{% extends 'the_things_list/base.html' %}
{% load staticfiles %}


{% block body %}
    {% if all_things %}
        <div id="homeDiv" class="container-fluid" style="padding-bottom: 10px">
        <div class="col-sm-12">
            <h1 align="center">All Things</h1>
        </div>


        {% for thing in all_things %}
            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail" >
                    <center><a href="{% url 'the_things_list:thing-details' thing.id %}">{{ thing.title }} </a></center>
                    <div class="caption" style="margin-top: 30px;">
                        <h4>by {{ thing.author }}</h4>

                    </div>
                </div>
            </div>
            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}

        {% endfor %}

    {% else %}
        <div id="homeDiv" class="container-fluid"><h3>No posts to show</h3></div>

    {% endif %}

</div>

{% endblock %}