{% extends 'the_things_list/base.html' %}
{% load staticfiles %}

{% block body %}
    <link href="{% static 'the_things_list/css/post-css.css' %}" rel="stylesheet">
    <div id="homeDiv" class="container-fluid">
        <div id="postDiv" class="container-fluid" style="margin-bottom:150px;">

            <h1>{{ thing.title }}</h1>
            <h3 class="lead">{{ thing.text }}</h3>
            <h4>by {{ thing.author }}</h4>

            <form action="{% url 'the_things_list:thing-contact' thing.pk %}">
                <button type="submit" href="{% url 'the_things_list:thing-contact' thing.pk %}"
                        class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                </button>
            </form>

        </div>
    </div>
{% endblock %}